
<mat-toolbar  color="primary" class="mat-elevation-z6">

  <a mat-button routerLink="/">
    <span>COURSES_</span>
  </a>

  <a mat-button routerLink="/about">
    <span>ABOUT</span>
  </a>

</mat-toolbar>


<router-outlet></router-outlet>
